In [2]:
import pandas as pd

df = pd.read_csv('data/final_matches.csv')

In [13]:
df[~df['notes'].isnull()]

Empty DataFrame
Columns: [date, time, comp, round, day, venue, result, gf, ga, opponent, xg, xga, poss, attendance, captain, formation, opp formation, referee, match report, notes, sh, sot, dist, fk, pk, pkatt, team, season]
Index: []

[0 rows x 28 columns]

In [24]:
df[['team']].drop_duplicates()

                          team
0                      Arsenal
190                Aston Villa
380                Bournemouth
494                  Brentford
646   Brighton And Hove Albion
836                    Burnley
950                    Chelsea
1140            Crystal Palace
1330                   Everton
1520                    Fulham
1672              Ipswich Town
1710              Leeds United
1824            Leicester City
1976                 Liverpool
2166                Luton Town
2204           Manchester City
2394         Manchester United
2584          Newcastle United
2774              Norwich City
2812         Nottingham Forest
2926          Sheffield United
3002               Southampton
3154         Tottenham Hotspur
3344                   Watford
3382      West Bromwich Albion
3420           West Ham United
3610   Wolverhampton Wanderers